<!DOCTYPE html>
<html lang="en">
    <head>

      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      {{ block "title" . }}
        <title>{{ .Site.Params.Title }}</title>
      {{ end }}

      {{ block "seo" . }}
        <!-- SEO -->
        <meta name="referrer" content="no-referrer" />
        <meta name="robots" content="index, follow" />
        <meta name="description" content="{{ .Site.Params.Description }}" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Site.Params.Company }}" />
        <meta property="og:description" content="{{ .Site.Params.Description }}" />
        <meta property="og:image" content="{{ .Site.Params.logo_img | absURL }}" />
        <meta property="og:image:secure_url" content="{{ .Site.Params.logo_img | absURL }}" />
        <meta property="og:image:type" content="{{ .Site.Params.logo_type }}" />
        <meta property="og:image:width" content="{{ .Site.Params.logo_width }}" />
        <meta property="og:image:height" content="{{ .Site.Params.logo_height }}" />
        <meta property="og:image:alt" content="{{ .Site.Params.logo_alt }}" />
        <meta property="og:site_name" content="{{ .Site.Params.Company }}" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="ALL_ALL" />
        <link rel="canonical" href="{{ .Permalink }}" />
      {{ end }}

      {{ block "favicons" . }}
        <!-- FAVICONS based on https://www.favicon-generator.org/ -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="{{ .Site.Params.Palette.Primary }}" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="{{ .Site.Params.Palette.Primary }}" />
      {{ end }}

      {{ partial "inline-styles.html" . }}

    </head>
    <body>
      <div id="abc__container">

        {{ block "header" . }}
          <div class="abc__container">

          <header class="abc__header" id="start">
              <picture>
                <source media="(max-width: 1034px)" srcset="/img/ABC-Logo-76-76.png">
                <source media="(min-width: 1035px)" srcset="/img/ABC-Logo-150-150.png">
                <img src="/img/ABC-Logo-76-76.png" alt="ABC Logo">
              </picture>
          </header>

          <div class="abc__anim">
            <h1 class="abc__anim--absorb">Absorb Chaos</h1>
            <h1 class="abc__anim--release">Release Potential</h1>
          </div>

          <div class="abc__tagline">Technology services inspired by and based on freedom, collaboration, transparency, integrity, and community.</div>
        {{ end }}

        {{ block "nav" . }}
          <nav class="abc__nav">
            <a class="abc__nav__link" href="#difference" title="ABC Difference">Why Us?</a>
            <a class="abc__nav__link" href="#services" title="ABC Services">Services</a>
            <a class="abc__nav__link" href="#opensource" title="ABC Open Source">Software</a>
            <a class="abc__nav__link"  href="#partners" title="ABC Partners">Partners</a>
          </nav>
        {{ end }}

        {{ block "main" . }}
          <p>Default baseof main block.</p>
        {{ end }}
        {{ block "footer" . }}
          <footer class="abc__footer">
            <div class="abc__footer__section">
              <h3 class="abc__footer__title">Navigation</h3>
              <a class="abc__footer__link" href="#difference" title="ABC Difference">Why Us?</a>
              <a class="abc__footer__link" href="#services" title="ABC Services">Services</a>
              <a class="abc__footer__link" href="#opensource" title="ABC Open Source">Software</a>
              <a class="abc__footer__link" href="#partners" title="ABC Partners">Partners</a>
            </div>
            <div class="abc__footer__section">
              <h3 class="abc__footer__title">Copyright</h3>
              <p>© Website Copyright 2019</p>
              <p>Absorbing Chaos LLC</p>
            </div>
          </footer>
        {{ end }}
      </div>
    </body>
</html>
