<footer class="abc__footer">
  <div class="abc__footer__section">
    <h3 class="abc__footer__title">Navigation</h3>
    <a class="abc__footer__link" href="#difference" title="ABC Difference">Why Us?</a>
    <a class="abc__footer__link" href="#services" title="ABC Services">Services</a>
    <a class="abc__footer__link" href="#opensource" title="ABC Open Source">Software</a>
    <a class="abc__footer__link" href="#partners" title="ABC Partners">Partners</a>
  </div>
  <div class="abc__footer__section">
    <h3 class="abc__footer__title">Copyright</h3>
    <p>© Website Copyright {{ now.Format "2019" }}</p>
    <p>Absorbing Chaos LLC</p>
  </div>
</footer>
