<header class="abc__header" id="start">
    <picture>
      <source media="(max-width: 1034px)" srcset="/img/ABC-Logo-76-76.png">
      <source media="(min-width: 1035px)" srcset="/img/ABC-Logo-150-150.png">
      <img src="/img/ABC-Logo-76-76.png" alt="ABC Logo">
    </picture>
</header>

<div class="abc__anim">
  <h1 class="abc__anim--absorb">Absorb Chaos</h1>
  <h1 class="abc__anim--release">Release Potential</h1>
</div>

<div class="abc__tagline">Technology services inspired by and based on freedom, collaboration, transparency, integrity, and community.</div>

<nav class="abc__nav">
  <a class="abc__nav__link" href="#difference" title="ABC Difference">Why Us?</a>
  <a class="abc__nav__link" href="#services" title="ABC Services">Services</a>
  <a class="abc__nav__link" href="#opensource" title="ABC Open Source">Software</a>
  <a class="abc__nav__link"  href="#partners" title="ABC Partners">Partners</a>
</nav>
