<head>
    {{ $title := print .Site.Params.title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SEO -->
    <meta name="referrer" content="no-referrer" />
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta property="og:url" content="{{ .Site.baseURL }}" />
    <meta property="og:title" content="{{ $title }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="og:image" content="{{ .Site.Params.logo }}" />
    <meta property="og:image:secure_url" content="{{ .Site.Params.logo }}" />
    <meta property="og:image:type" content="{{ .Site.Params.logo_type }}" />
    <meta property="og:image:width" content="{{ .Site.Params.logo_width }}" />
    <meta property="og:image:height" content="{{ .Site.Params.logo_height }}" />
    <meta property="og:image:alt" content="{{ .Site.Params.logo_alt }}" />
    <meta property="og:site_name" content="{{ $title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ALL_ALL" />
    <link rel="canonical" href="{{ .Site.baseURL }}" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#283655" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#283655" />

    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Corporation",
      "name": "Absorbing Chaos LLC",
      "alternateName": "Absorbing Chaos",
      "url": "{{ .Site.baseURL }}",
      "logo": "{{ .Site.Params.logo }}",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+19282352305",
        "contactType": "customer service",
        "areaServed": "US",
        "availableLanguage": "en"
      },
      "sameAs": [
        "https://twitter.com/AbsorbingChaos",
        "https://github.com/AbsorbingChaos"
      ]
    }
    </script>

</head>
